<h1>List View</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="form-group input-group">
      <label for="searchInput" class="sr-only">Search</label>
      <input type="text" class="form-control" id="searchInput" [(ngModel)]="search" placeholder="Search..."
        (change)="searchResults(actualPage, true)">
      <div class="input-group-append">
        <span class="input-group-text" id="inputGroupPrepend3" (click)="searchResults(actualPage, true)"><i
            class="fa fa-search"></i></span>
      </div>
    </div>
  </div>
  <div class="col-sm-6 text-sm-right">
    <a (click)="goToNew()" class="btn btn-primary mb-3 active">Add New</a>
  </div>
</div>

<table class="table table-bordered table-hover table-sm" id="charTable" *ngIf="!loading && anyResult">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="th-sm">Id <i class="fa fa-sort-up" [ngClass]="{'redColor':sort=='id' && ascendant}"
          (click)="sortCharacters('id',true)"></i>
        /<i class="fa fa-sort-down" [ngClass]="{'redColor':sort=='id' && !ascendant}"
          (click)="sortCharacters('id', false)"></i></th>
      <th scope="col" class="th-sm">Name <i class="fa fa-sort-up" [ngClass]="{'redColor':sort=='name' && ascendant}"
          (click)="sortCharacters('name',true)"></i>
        /<i class="fa fa-sort-down" [ngClass]="{'redColor':sort=='name' && !ascendant}"
          (click)="sortCharacters('name', false)"></i></th>
      <th scope="col" class="th-sm">Species <i class="fa fa-sort-up"
          [ngClass]="{'redColor':sort=='species' && ascendant}" (click)="sortCharacters('species',true)"></i>
        /<i class="fa fa-sort-down" [ngClass]="{'redColor':sort=='species' && !ascendant}"
          (click)="sortCharacters('species', false)"></i></th>
      <th scope="col" class="th-sm">Gender <i class="fa fa-sort-up" [ngClass]="{'redColor':sort=='gender' && ascendant}"
          (click)="sortCharacters('gender',true)"></i>
        /<i class="fa fa-sort-down" [ngClass]="{'redColor':sort=='gender' && !ascendant}"
          (click)="sortCharacters('gender', false)"></i></th>
      <th scope="col" class="th-sm">Homeworld <i class="fa fa-sort-up"
          [ngClass]="{'redColor':sort=='homeworld' && ascendant}" (click)="sortCharacters('homeworld',true)"></i>
        /<i class="fa fa-sort-down" [ngClass]="{'redColor':sort=='homeworld' && !ascendant}"
          (click)="sortCharacters('homeworld', false)"></i></th>
      <th scope="col" class="th-sm">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of characters">
      <th scope="row">{{character.id}}</th>
      <td>{{character.name}}</td>
      <td>{{character.species}}</td>
      <td>{{character.gender}}</td>
      <td>{{character.homeworld}}</td>
      <td>
        <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
          <button type="button" class="btn btn-secondary" (click)="editCharacter(character)">
            <i class="fa fa-pencil"></i> Edit
          </button>
          <button type="button" class="btn btn-danger" (click)="deleteCharacter(character.id)">
            <i class="fa fa-trash-o"></i> Remove
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="!loading && !anyResult" class="alert alert-warning mx-auto" role="alert">
  No results found.
</div>

<div *ngIf="loading" class="d-flex justify-content-center">
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<nav aria-label="Data grid navigation" *ngIf="!loading">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="form-group row">
        <label for="numberOfItems" class="col-sm-4 col-form-label">Nº of Results/Page</label>
        <div class="col-sm-8">
          <input type="number" class="form-control" id="numberOfItems" [(ngModel)]="numberPerPage"
            placeholder="How many results per page" min=5 max=20
            (focusout)="numberPerPage >= 5 && numberPerPage <= 20 ? searchResults(actualPage, false) : ''" required>
          <div style="color: red;" *ngIf="numberPerPage < 5 || numberPerPage > 20">
            Input value between 5 and 20
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <ul class="pagination justify-content-end">
        <li class="page-item">
          <a class="page-link" (click)="searchResults(1, false)">First</a>
        </li>
        <li class="page-item">
          <a *ngIf="actualPage == 1" class="page-link disabled">Previous</a>
          <a *ngIf="actualPage != 1" class="page-link" (click)="searchResults(actualPage-1, false)"
            [attr.disabled]="actualPage == 1 ? '' : null">Previous</a>
        </li>
        <ng-container *ngFor="let item of ' '.repeat(numberOfPages).split(''), let i = index">
          <li class="page-item" [ngClass]="{'active' : i+1 == actualPage}">
            <a class="page-link" (click)="searchResults(i+1, false)">{{i+1}}<span
                class="sr-only active">(current)</span></a>
          </li>
        </ng-container>
        <li class="page-item">
          <a *ngIf="actualPage == numberOfPages" class="page-link disabled">Next</a>
          <a *ngIf="actualPage != numberOfPages" class="page-link" (click)="searchResults(actualPage+1, false)">Next</a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="searchResults(numberOfPages, false)">Last</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
